* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
   }
   
body {
   
       font-family: 'Inter', sans-serif;
}
   



.header {
    background-color: rgba(137, 43, 226, 0.363);
    width: 100%;
    display: flex;
    height: 150px;
    align-items: center;
}


.header-left{

    height: 100%;
    display: flex;
    flex: 1;
    margin: 10px;
    justify-content:space-around;
    align-items: center;
}


.logo {
    height: 70%;
    
    align-items: center;
}

.header__icons{
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    align-items: center;

}

.icon__item {
    display: flex;
    height: 70%;
    
}

.icons__link {
    display: flex;
    align-items: center;
}

.social-img  {
    height: 70%;

}

.nav{
    display: flex;
    flex: 1;
    justify-content:center;
}


.nav__list{
    display: flex;
    list-style: none ;
    justify-content: space-around;
    gap: 25px;
}
.nav__item {
    background-color: #C45F5F;
    justify-content: center;
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;

}

.nav__link {
    text-decoration: none;
    color: black;
}

.cards__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 53px;
    margin-top: 53px;
}

.container{
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.card {
    width: 100%;
    height: 700px;
    background-color: beige;
    display: flex;
}

.card-img__container {
    width: 630px;
    height: 470px;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.card__img {
    width: 100%;
    height: 100%;
}

.desc {
    display: flex;

}


